{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

		  {% block stylesheets %}   <link rel="stylesheet" href="css/style.css">{% endblock %}
{% block body %}
	{% block navbar %}
		{% include 'components/navbar.html' %}
	{% endblock %}
	
	<div class="container m-auto">

		<div>
			<div class="card mt-3 " style="width: 18rem;">
				<img src="{{Destination.picture}}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{Destination.name}}
						-
						{{Destination.price}}</h5>
					<p class="card-text">{{Destination.description}}</p>
					<p class="card-text">{{Status.name}}</p>

				</div>
			</div>
		</div>
		<a href="../../destinations" class="btn btn-primary">Back</a>


	</div>
{% endblock %}
